body {
  background-color: black;
  background-image: url("dmitry-vechorko.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
a {
  color: rgb(238, 248, 101);
  text-decoration: none;
  border-bottom: 2px solid rgb(238, 248, 101);
  padding-bottom: 6px;
}

a:hover {
  color: rgb(44, 48, 243);
  border-bottom-color: rgb(44, 48, 243);
}
.pencil {
  width: 500px;
}
.inspire {
  width: 300px;
  background-color: #ffffff;
  padding: 20px;
  border: 2px solid #000000;
}

.button {
  background-color: aquamarine;
  padding: 10px;
  color: #000000;
  border: none;
  border-radius: 5%;
}
.button:hover {
  background-color: rgb(255, 219, 127);
}

.wrapper {
  width: 80%;
  margin: auto;
  border: 2px solid white;
}
